* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box
}

body {
    font-family: "Microsoft YaHei", 微软雅黑;
    overflow: hidden;
    color: #fff;
}

[v-cloak] {
    display: none;
}
video.normal{
    position: absolute;
}
.videoArea {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.videoArea .videoK {
    position: relative;
}

.lee-loading.circle {
    width: 8%;
    height: calc(8% * 1.776892430279);
    border-radius: 100%;
    border-width: clamp(4px, 1vw, 12px);
    border-style: solid;
    border-color: transparent #0f3a7c #0f3a7c #0f3a7c;box-shadow: inset 0 0 clamp(1px, 1vw, 12px) #55E0FF, 0 0 clamp(1px, 1vw, 12px) clamp(1px, 1vw, 2px) #005BD9;
    animation: circle .6s linear infinite;
}

.lee-loading {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5%;
    margin-top: -5%;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

.videoArea .videoK .card {
    width: 5.46875%;
    position: absolute;
    left: 71.8%;
    bottom: 65.944444%;
    z-index: 9;
}

.videoArea .videoK .card i {
    padding-bottom: 100%;
    cursor: pointer;
    display: block;
    animation: flash12 .4s infinite;
}

.videoArea .videoK .confirm {
    width: 17.5%;
    position: absolute;
    left: 74.4%;
    bottom: 6.5%;
    z-index: 9;
}

.videoArea .videoK .confirm i {
    padding-bottom: 23%;
    cursor: pointer;
    display: block;
    animation: flash12 .4s infinite;
}
.videoArea .videoK .repeat {
    width: 17.5%;
    position: absolute;
    left: 74.4%;
    bottom: 6.5%;
    z-index: 9;
}

.videoArea .videoK .repeat i {
    padding-bottom: 23%;
    cursor: pointer;
    display: block;
    animation: flash12 .4s infinite;
}


@keyframes flash12 {
    0% {
        box-shadow: inset 0 0 clamp(1px, 1vw, 12px) #55E0FF, 0 0 clamp(1px, 1vw, 12px) clamp(1px, 1vw, 2px) #005BD9;
    }
    50% {
        box-shadow: inset 0 0 clamp(1px, 2vw, 40px) #55E0FF, 0 0 clamp(1px, 1vw, 12px) clamp(1px, 1vw, 4px) #005BD9;

    }
    100% {
        box-shadow: inset 0 0 clamp(1px, 1vw, 12px) #55E0FF, 0 0 clamp(1px, 1vw, 12px) clamp(1px, 1vw, 2px) #005BD9;
    }

}


.loadingW {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 100;
    background: url("img/bgbg.jpg") center;
    background-size: cover;
}

.loadingN {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: -1;
    background: url("img/bg.jpg");
    background-size: cover;
}


.videoArea video {
    width: 100%;
    height: 100%;
}


.floatDiv {
    position: fixed;
    right: clamp(4px, 1vw, 20px);
    top: 50%;
    transform: translateY(-50%);
    width: 3.5416666667%;
    z-index: 100;
}

.floatDiv .btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: clamp(2px, .6vw, 10px);
}


.floatDiv .btns li, .floatDiv .btns li a {
    display: flex;
}

.floatDiv .btns li a {
    border-radius: 100%;
    box-shadow: 0 0 clamp(1px, 1vw, 12px) #f60;
    overflow: hidden;
    transition: all .4s;
}

.floatDiv .btns li img {
    width: 100%;
}

.floatDiv .btns li a:hover {
    box-shadow: 0 0 clamp(1px, 1vw, 22px) #f60, 0 0 clamp(1px, 1vw, 22px) #f60;
}


.floatBottom {
    position: fixed;
    z-index: 99;
    width: 100%;
    right: 0px;
    bottom: 0px;
    transition: all .4s;
    display: flex;
}

.zd {
    width: 4.21875%;
    position: fixed;
    cursor: pointer;
    transition: all .4s;
    filter: hue-rotate(180deg);
    z-index: 100;
    right: 1%;
    bottom: 2%;
}

.zd:hover {
    filter: hue-rotate(0deg);
}

.floatBottom .lq {
    width: 10.5729166667%;
    position: absolute;
    right: 13.0729166667%;
    top: 18.75%;
}

.floatBottom .lq i {
    padding-bottom: 24.630541871921%;
    display: block;
}


.floatBottom img.ad {
    width: 100%;
}


.floatBottom.close {
    animation: suo .5s both linear;
}

.floatBottom.open {
    animation: exp .5s both linear;
}

@keyframes suo {
    0% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }

}

@keyframes exp {
    0% {
        clip-path: inset(0 0 0 100%);

    }
    100% {
        clip-path: inset(0 0 0 0);
    }

}

.floatBtns {
    position: fixed;
    left: clamp(4px, 1vw, 20px);
    top: 50%;
    transform: translateY(-50%);
    width: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    z-index: 100;
}

.floatBtns a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.floatBtns img {
    width: 70%;
}

.floatBtns .logoimg {
    width: 60%;
    filter: drop-shadow(0 0 3px #fff);
}


.bk {
    background: url("img/bk.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
}

